/*Footer*/
footer{
    background-color: $celeste;
    color: $blanco;
    padding-left: 1%;
    padding-right: 1%;

    .contenidoFooter {
        display: grid;
        grid-template-areas:
            "instagram whatsapp"
            "facebook map";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        padding-top: 1%;
        gap: 5px;

        img {
            width: 20px; 
            height: 20px;
        }
    }
      
    .instagram {
        grid-area: instagram;
        display: flex;
        flex-direction: row;
    
        & .pig {
            padding-left: 2%;
        }
    }
    
    .facebook {
        grid-area: facebook;
        display: flex;
        flex-direction: row;
    
        & .pfb {
            text-align: center;
            padding-left: 2%;
        }
    }
    
    .whatsapp {
        grid-area: whatsapp;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
        & .pwp {
            padding-right: 1%;
            padding-left: 1%;
        }
    }
    
    .map {
        grid-area: map;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    @include mobile {
        .contenidoFooter {
            grid-template-areas:
              "instagram"
              "whatsapp"
              "facebook"
              "map";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            gap: 5px;
        
            .whatsapp {
              justify-content: flex-start;
            }
        
            .map {
              justify-content: flex-start;
            }
        }
    }   
}

