/* Main Servicios */

.mainServicios {
    padding-top: 2%;

    h1 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 3%;
    }

    h2 {
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 2%;
    }

    .serviciosVeterinarios,
    .serviciosPeluqueria {
        display: flex;
        flex-direction: row;
        padding-bottom: 2%;

        .textoVete,
        .textoPelu {
            padding: 2% 2% 2% 1%;
            margin-left: 1%;
            margin-right: 1%;
            background-color: $marronclaro;
            border-radius: 20px;
            text-align: justify;
        }

        .imgServVeterinaria,
        .imgPeluqueria {
            width: 40%;
            border-radius: 20px;
            margin-right: 1%;
            margin-left: 1%;
        }
    }

    @include mobile {
        @media screen and (max-width: 768px) {
            .serviciosVeterinarios,
            .serviciosPeluqueria {
              flex-direction: column;
              align-items: center;
            }
          
            .textoVete,
            .textoPelu {
              width: 85%;
              margin: 2% auto; 
            }
          
            .imgServVeterinaria,
            .imgPeluqueria {
              width: 60%;
              height: 85%;
              margin: 2% auto; 
            }
        }
    }
}    
